@use "../../../../../assets/styles/main" as m;

.basic-grid {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  height: 100%;
  align-items: start;

  padding: 0;
  padding-right: 1em;
  gap: 1em;

  .cell-table {
    grid-column: 1 / 4;
    grid-row: 1 / -1;
  }

  .cell-tabs {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
  }
}
