@use  "../utils/mixins" as mix ;
@use  "variables" as var;

article {
     flex-grow: 1;
     min-height: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: stretch;

     main {
       flex-grow: 1;

       .basic-grid {
         display: grid;
         width: 100%;
         padding: var.$main-grid-padding;
         gap: var.$main-grid-gap;
         row-gap: var.$main-grid-row-gap;
         //grid-template-rows: auto;
         justify-content: center;
         align-items: center;
         grid-template-rows: repeat(auto-fill, auto);

         @include mix.media-query-screen--small {
           grid-template-columns: repeat(4,  minmax(0, 1fr));
         }
         @include mix.media-query-screen--middle {
           grid-template-columns: repeat(8,  minmax(0, 1fr));
         }
         @include mix.media-query-screen--big {
           grid-template-columns: repeat(12, minmax(0, 1fr));
         }
       }
     }

     footer {
       flex-shrink: 0;
     }
 }
