@use "../../../../../assets/styles/main" as m;

article {
  transition: margin-top 250ms;

  main {
    background-color: m.$color-dark;
  }

  @include m.media-query-screen--small {
    margin-left: m.$navbar-thickness;
  }

  @include m.media-query-screen--middle {
    margin-left: m.$navbar-thickness;
  }

  @include m.media-query-screen--big {
    margin-left: 0;
    margin-top: m.$navbar-thickness;

    &.adjust-thickness {
      margin-top: m.$navbar-extra-thickness;
    }
  }
}
