<div class="basic-grid">
  <div class="cell-header text-center">
    <span class="text-color-light2 text-4xl">Faq</span>
  </div>

  <!-- subgrid -->
  <div class="cell-box">
    <ul #navTabs class="cell-box-sub--tabs bg-color-light6  flex max-sm:flex-col  flex-nowrap">
      <li class="tab active" data-anchor="booking">
        <a href="#">booking</a>
      </li>
      <li class="tab" data-anchor="photoshots">
        <a href="#">photoshots</a>
      </li>
      <li class="tab" data-anchor="follow_up">
        <a href="#">follow-up</a>
      </li>
      <li class="tab" data-anchor="changes">
        <a  href="#">changes</a>
      </li>
    </ul>
    <ng-container *ngIfAnimation="object"></ng-container>
  </div>
  <!-- subgrid -->
</div>

<ng-template #booking>
  <div class="cell-box-sub--content bg-color-light5 " @myAnimation>
  <span class="topic text-xl font-bold pb-7 pt-5 pl-5 bg-color-light5 ">Booking</span>

  <!-- card -->
  <div class="flex flex-col space-y-3 ">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3 ">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3 ">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3 ">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3 ">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3 ">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->
  </div>
</ng-template>

<ng-template #photoshots>
  <div class="cell-box-sub--content bg-color-light5 "  @myAnimation>
  <span class="topic text-xl font-bold pb-7 pt-5 pl-5">Photoshots</span>

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->
  </div>
</ng-template>


<ng-template #follow_up>
  <div class="cell-box-sub--content bg-color-light5 "  @myAnimation >
  <span class="topic text-xl font-bold pb-7 pt-5 pl-5 bg-color-light5 ">Follow up</span>

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet.</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->
</div>
</ng-template>



<ng-template #changes>
  <div class="cell-box-sub--content bg-color-light5 "  @myAnimation >
  <span class="topic text-xl font-bold pb-7 pt-5 pl-5 bg-color-light5 ">Changes</span>

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet. 1</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet . 2</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet. 3</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet. 4 </span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet. 5</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->

  <!-- card -->
  <div class="flex flex-col space-y-3">
    <span class="font-SourceSansPro-SemiBold text-md font-bold">Lorem ipsum dolor sit amet. 6</span>
    <span class="leading-5 font-SourceSansPro-SemiBold text-md text-color-light3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur cum, cumque harum iste iusto neque omnis quisquam, ratione reiciendis sapiente sint unde, velit voluptatibus? Consequatur odio quo repudiandae!
            </span>
  </div>
  <!-- card -->
  </div>
</ng-template>
