@use "../../../../../assets/styles/main" as m;

.basic-grid {
  --cards-padding: 1.2em;

  .cell-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .cell-box {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    gap: 0;

    .cell-box-sub--tabs {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

      .cell-box-sub--content {
        grid-column: 1 / -1;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: repeat(auto-fill, auto);
        grid-auto-flow: row dense;
        gap: 0;

        .topic {
          grid-column: 1 / -1;
          grid-row: 1 / 2;
        }

        div:nth-child(n+2) {
          padding: var(--cards-padding);
        }
      }
    }
  }

ul.cell-box-sub--tabs {
    li.tab {
      padding: 0 .4em 0 .4em;

      &.active {
        background-color: m.$color-light5;
        border-bottom: 1px solid m.$color-dark2;
      }

      a{
        width: 100%;
        height: 100%;
        display: block;
        font-family: 'font-SourceSansPro-SemiBold', sans-serif;
        text-transform: uppercase;
        font-size: small;
        padding: .5em;
      }
    }
  }

  @include m.media-query-screen--small {
    .cell-box-sub--content {
      div:nth-child(n+2) {
        grid-column: 1 / -1;
        grid-row: span 1;
      }
    }
  }

  @include m.media-query-screen--middle {
    .cell-box-sub--content {
      div:nth-child(n+2) {
        grid-column: 1 / 5;
        grid-row: span 1;
      }

      div:nth-child(2n+2) {
        grid-column: 5 / 9;
        grid-row: span 1;
      }
    }
  }

  @include m.media-query-screen--big {
    .cell-box-sub--content {
      div:nth-child(n+2) {
        grid-column: 1 / 5;
        grid-row: span 1;
      }

      div:nth-child(2n+2) {
        grid-column: 5 / 9;
        grid-row: span 1;
      }

      div:nth-child(3n+2) {
          grid-column: 9 / -1;
          grid-row: span 1;
      }
    }
  }
