@use "../../../../../assets/styles/main" as m;
//
//.card {
//  background-color: m.$color-light4;
//}

img.svg-icons {
  width: 4em;
  height: auto;
  fill: currentColor;
}

.basic-grid {
  @include m.media-query-screen--small {
    .cell-intro-left {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    .cell-intro-right {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    .cell-heading1 {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }

    .cell-cards {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
    }
  }

  @include m.media-query-screen--middle {
    .cell-intro-left {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }

    .cell-intro-right {
      grid-column: 4 / -1;
      grid-row: 1 / 2;
    }

    .cell-heading1 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    .cell-cards {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }
  }

  @include m.media-query-screen--big {
    .cell-intro-left {
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }
    .cell-intro-right {
      grid-column: 6 / -1;
      grid-row: 1 / 2;
    }
    .cell-heading1 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
    .cell-cards {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }
  }
}

