@use "../../../../../assets/styles/main" as m;

.navbar {
  height: auto;

  li {
    color: white;
    border-left: 4px solid m.$color-dark;

    &.is-active{
      color: deeppink;
      border-left: 4px solid m.$color-light8;
      background-color: m.$color-dark3;
    }
  }

}
