@use "../../../../../assets/styles/main" as m;

@mixin tab-raised($bg-color, $shadow) {
  background-color: $bg-color;
  box-shadow: $shadow;
}

@mixin link-underlined($transform, $transition) {
  transform: $transform;
  transition: $transition;
}

.active {
    background-color: m.$navbar-tab-raised-color;
    box-shadow: m.$shadow-dark;

    @include m.media-query-screen--big {
        @include tab-raised(transparent, none);
        span::before {
          transform: scaleX(1) !important;
          transition: none !important;
        }
    }
}

.navbar {
  z-index: 1000;
  position: fixed;
  display: flex;
  font-size: m.$color-dark;
  background-color: m.$navbar-bg-color;
  box-shadow: m.$shadow-dark;
  width: m.$navbar-thickness;
  padding: 1em 0 1em 0;

  &>div { padding: m.$navbar-section-padding; }

  // wartosc dla pionowego paska
  height: 100%;

  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  svg {
    width: m.$navbar-icons-width;
    height: auto;
    color: m.$navbar-svg-color;
    fill: currentColor;
  }

  .navbar-tabgroup--logo {
    svg { display: block; width: m.$navbar-logo-width; }
  }

  .navbar-tabgroup--menu {
    display: flex;
    flex-direction: inherit;

    &>a.tab {
      display: block;
      padding: m.$navbar-icons-padding;
      border-radius: 3px;
      transition: all 250ms;

      & + a.tab {margin-top: 5px;}
      &:hover {@include tab-raised(m.$navbar-tab-raised-color, m.$shadow-dark);}
    };

    svg {display: block;}
    span {
      display: none;
      position: relative;
      white-space: nowrap;
      font-variant: small-caps;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 2px;
        left: 0;
        background-color: m.$color-light2;

        @include link-underlined(scaleX(0), transform 0.3s ease);
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .navbar-tabgroup--social-media {
    display: flex;
    flex-direction: inherit;

    a {
      display: block;
      padding: 10px;
      svg {display: block;}
    }
  }

  @include m.media-query-screen--big {

    &.shrink {
      box-shadow: m.$shadow-dark;
      height: m.$navbar-thickness;
    }

    box-shadow: none;
    height: m.$navbar-extra-thickness;
    transition: all 250ms;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;

    .navbar-tabgroup--menu {
      &>a.tab {
        border-radius: 0;
        transition: none;
        color: white;

        & + a.tab {margin-top: 0;}
        &:hover {@include tab-raised(transparent, none);}
      };

      svg {display: none;}
      span { display: block;}
    }
  }
}
