article {
  flex-grow: 1;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
article main {
  flex-grow: 1;
}
article main .basic-grid {
  display: grid;
  width: 100%;
  padding: 1em;
  gap: 1em;
  row-gap: 3em;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(auto-fill, auto);
}
@media screen and (max-width: 767px) {
  article main .basic-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  article main .basic-grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1024px) {
  article main .basic-grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
article footer {
  flex-shrink: 0;
  background-color: #1c69d3;
}

.bars {
  z-index: 10;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}
.bars.is-hidden {
  visibility: hidden;
}
.bars span {
  position: absolute;
  display: block;
  bottom: 10px;
  width: 9px;
  height: 15px;
  background: rgba(255, 255, 255, 0.25);
  animation: bars 2s infinite ease-in;
}
.bars span:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
}
.bars span:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
}
.bars span:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
}
.bars span:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
}

@keyframes bars {
  0% {
    background: rgba(255, 255, 255, 0.25);
  }
  25% {
    background: #000000;
  }
  50% {
    background: rgba(255, 255, 255, 0.25);
  }
  100% {
    background: rgba(255, 255, 255, 0.25);
  }
}
@font-face {
  font-family: "Montserrat-VariableFont_wght";
  src: url("../../../assets/fonts/Montserrat-VariableFont_wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sacramento-Regular";
  src: url("../../../assets/fonts/Sacramento-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-VariableFont";
  src: url("../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("../../../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro-Italic";
  src: url("../../../assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "April June";
  src: url("../../../assets/fonts/April June.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay-VariableFont_wght";
  src: url("../../../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
textarea, input {
  background-color: transparent;
  font-family: "font-SourceSansPro-SemiBold", sans-serif;
  font-size: small;
  color: hsl(0deg, 0%, 60%);
  border-bottom-width: 1px;
  border-color: #333333;
  border-style: solid;
  padding: 0.5em;
  letter-spacing: 0.1em;
}
textarea::placeholder, input::placeholder {
  color: hsl(0deg, 0%, 60%);
  opacity: 0.4;
}
textarea:focus, input:focus {
  outline: none;
  border-color: hsl(4deg, 32%, 46%);
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: hsl(4deg, 32%, 46%);
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 9px 19px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #9e5751;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #9e5751;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.active {
  background-color: #1c1c1c;
  box-shadow: 9px 7px 31px -10px rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 1024px) {
  .active {
    background-color: transparent;
    box-shadow: none;
  }
  .active span::before {
    transform: scaleX(1) !important;
    transition: none !important;
  }
}

.navbar {
  z-index: 1000;
  position: fixed;
  display: flex;
  font-size: hsl(0deg, 0%, 10%);
  background-color: hsl(0deg, 0%, 10%);
  box-shadow: 9px 7px 31px -10px rgba(0, 0, 0, 0.6);
  width: 4em;
  padding: 1em 0 1em 0;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navbar > div {
  padding: 0.5em;
}
.navbar svg {
  width: 1.2em;
  height: auto;
  color: hsl(4deg, 32%, 46%);
  fill: currentColor;
}
.navbar .navbar-tabgroup--logo svg {
  display: block;
  width: 2.8em;
}
.navbar .navbar-tabgroup--menu {
  display: flex;
  flex-direction: inherit;
}
.navbar .navbar-tabgroup--menu > a.tab {
  display: block;
  padding: 0.6em;
  border-radius: 3px;
  transition: all 250ms;
}
.navbar .navbar-tabgroup--menu > a.tab + a.tab {
  margin-top: 5px;
}
.navbar .navbar-tabgroup--menu > a.tab:hover {
  background-color: #1c1c1c;
  box-shadow: 9px 7px 31px -10px rgba(0, 0, 0, 0.6);
}
.navbar .navbar-tabgroup--menu svg {
  display: block;
}
.navbar .navbar-tabgroup--menu span {
  display: none;
  position: relative;
  white-space: nowrap;
  font-variant: small-caps;
}
.navbar .navbar-tabgroup--menu span::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: hsl(4deg, 32%, 46%);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.navbar .navbar-tabgroup--menu span:hover::before {
  transform: scaleX(1);
}
.navbar .navbar-tabgroup--social-media {
  display: flex;
  flex-direction: inherit;
}
.navbar .navbar-tabgroup--social-media a {
  display: block;
  padding: 10px;
}
.navbar .navbar-tabgroup--social-media a svg {
  display: block;
}
@media screen and (min-width: 1024px) {
  .navbar {
    box-shadow: none;
    height: 6em;
    transition: all 250ms;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
  }
  .navbar.shrink {
    box-shadow: 9px 7px 31px -10px rgba(0, 0, 0, 0.6);
    height: 4em;
  }
  .navbar .navbar-tabgroup--menu > a.tab {
    border-radius: 0;
    transition: none;
    color: white;
  }
  .navbar .navbar-tabgroup--menu > a.tab + a.tab {
    margin-top: 0;
  }
  .navbar .navbar-tabgroup--menu > a.tab:hover {
    background-color: transparent;
    box-shadow: none;
  }
  .navbar .navbar-tabgroup--menu svg {
    display: none;
  }
  .navbar .navbar-tabgroup--menu span {
    display: block;
  }
}

/*# sourceMappingURL=navbar.component.css.map */
