<div class="footer-grid">
    <!-- left -->
    <div class="main-left">
      <p class="sub-title text-color-light4 font-SourceSansPro-SemiBold text-xl uppercase  truncate">strefa klienta</p>
      <p class="sub-content flex flex-col gap-3 w-full">
        <input class="w-96" type="button" name="" value="przejdź do galerii"/>
        <input class="gray w-96" type="button" name="" value="skontaktuj sie ze mną"/>
      </p>
    </div>
    <!-- left -->

    <!-- middle -->
    <div class="main-middle">
      <p class="sub-title text-color-light4 font-SourceSansPro-SemiBold text-xl uppercase truncate">o mnie</p>
      <p class="sub-content leading-5 text-color-light3 text-md font-SourceSansPro-Regular">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque distinctio eos excepturi labore modi nesciunt
                provident quidem voluptatum? Accusamus, corporis eius fugiat natus quis ullam?
      </p>
    </div>
    <!-- middle -->

    <!-- right -->
    <div class="main-right">
      <p class="sub-title text-color-light4 font-SourceSansPro-SemiBold text-xl uppercase truncate">albumy fotografii</p>

      <ul class="sub-content list-disc leading-5 text-color-light3 text-md font-SourceSansPro-Regular">
        <li><a href="">Portrety</a></li>
        <li><a href="">Rodziny</a></li>
        <li><a href="">Pary</a></li>
        <li><a href="">Śłuby</a></li>
        <li><a href="">Analogowa</a></li>
      </ul>
    </div>
    <!-- right -->

<!--  <div class="back_top text-md text-white uppercase mb-3">-->
<!--      <a href="#" (click)="backtotop($event)" class="font-SourceSansPro-SemiBold">back to top</a>&nbsp;&nbsp;-->
<!--    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">-->
<!--      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>-->
<!--    </svg>-->
<!--  </div>-->
  <div class="copyrights text-sm text-color-light3 truncate">
    &#169; {{currentYear}} All right reserved
    Kamil Kaczynski fotografia
  </div>
</div>
