 <div class="carousel">
   <ul class="carousel-slider">
<!--     <li class="carousel-slide"><img src="https://via.placeholder.com/800x350/0bf?text=image1" alt="Image 1"></li>-->
<!--     <li class="carousel-slide"><img src="https://via.placeholder.com/800x350/0bf?text=image1" alt="Image 1"></li>-->
<!--     <li class="carousel-slide"><img src="https://via.placeholder.com/800x350/0bf?text=image1" alt="Image 1"></li>-->
   </ul>
 </div>

<!--      <li class="carousel-slide"><img src="https://via.placeholder.com/800x350/0bf?text=image1" alt="Image 1"></li>-->
