@use "../../../../../assets/styles/main" as m;
.carousel {
  position: relative;
  font-size: 2.5vmin;
  overflow: hidden;
  margin: 2em;

  &-slider {
    display: flex;
  }

  &-slide {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;

    @include m.media-query-screen--small {
      flex-direction: column;
    }
    @include m.media-query-screen--middle {
      flex-direction: row;
    }
    @include m.media-query-screen--big {
      flex-direction: row;
    }

    img {
      display: block;
      width: 100%;
      height: 30em;
      object-fit: cover;
    }

    .desc {
      //padding: 2em;
    }
  }

  button {
    font-size: inherit;
    z-index: 10;
  }

  &-prev,
  &-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .8em;
    border: none;
    cursor: pointer;
    outline: 1px solid m.$color-light2;
    background-color: rgba(m.$color-light2, 0.1);

    svg {
      fill: currentColor;
      width: 2em;
      height: auto;
      filter: opacity(50%);
    }
  }

  &-prev {
    left: 2em;
  }

  &-next {
    right: 2em;
  }

  &-navigation {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  &-bullet {
    width: 1em;
    height: 1em;
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;

    &.is-active {
      background: #1c69d3;
    }
  }
}
