@use "../../../../../assets/styles/main" as m;
.carousel {
  position: relative;
  font-size: 2.5vmin;
  overflow: hidden;
  //margin: 2em;

  &-slider {
    display: flex;
  }

  &-slide {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: nowrap;

    @include m.media-query-screen--small {
      flex-direction: column;
    }
    @include m.media-query-screen--middle {
      flex-direction: row;
    }
    @include m.media-query-screen--big {
      flex-direction: row;
    }

    .img-container {
      flex: 0 0 50%;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 30em;
        object-fit: cover;
        object-position: center;
      }
    }

    .content {
      @include m.media-query-screen--small {
        background: m.$color-dark;
      }
      @include m.media-query-screen--middle {
        background: linear-gradient(to right, m.$color-dark2 50%, m.$color-dark 50%);
      }
      @include m.media-query-screen--big {
        background: linear-gradient(to right, m.$color-dark2 50%, m.$color-dark 50%);
      }

      padding: 4em;
      justify-content: center;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;


      .title {
        line-height: 1.3em;
        font-size: xx-large;
        color: m.$color-light2;
      }

      .subtitle {
        line-height: 1.3em;
        font-family: 'SourceSansPro-Regular', sans-serif;
        font-size: medium;
        color: white;
        text-transform: uppercase;
      }

      .desc {
        font-family: 'SourceSansPro-Regular', sans-serif;
        line-height: 1.2em;
        margin-top: 3em;
        color: m.$color-light3;
        font-size: medium;

        // truncate text
        overflow: hidden;
        text-overflow: ellipsis;
        //white-space: nowrap;
      }
    }
  }

  button {
    font-size: inherit;
    z-index: 10;
  }

  &-prev,
  &-next {
    position: absolute;
    //border: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: .8em;
    cursor: pointer;
    //background-color: transparent;
    border: 1px solid m.$color-light2;
    background-color: rgba(m.$color-light2, 0.1);


    svg {
      color: m.$color-light2;
      fill: currentColor;
      width: 1.6em;
      height: auto;
      filter: opacity(50%);
      transition: transform 450ms;
    }
  }

  &-prev {
    //left: 2em;
    //bottom: 0;
    left: 2em;
    //background-color: m.$color-dark;

    &:hover > svg {
      transform: translateX(-5px);
    }
  }

  &-next {
    //right: 2em;
    //top: 0;
    right: 2em;
    //background-color: m.$color-dark;

    &:hover > svg {
      transform: translateX(5px);
    }
  }

  &-navigation {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  &-bullet {
    width: 1em;
    height: 1em;
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;

    &.is-active {
      background: m.$color-light2;
    }
  }
}
