@use "assets/styles/main";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Montserrat-VariableFont_wght", serif;
    font-size: 16px;
    max-width: 1536px;
  }
  body { margin: 0; &::after { display: none; } }
  html, body {height: 100%;}
}

//@media screen and (max-width: 767px) {
//  body::after { content: "SPlus"; }
//}
//@media screen and (min-width: 768px) and (max-width: 1023px) {
//  body::after { content: "MPlus"; }
//}
//@media screen and (min-width: 1024px) {
//  body::after { content: "LPlus"; }
//}
