@use "assets/styles/main";
//@use '@angular/material/prebuilt-themes/indigo-pink.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat-VariableFont_wght';
  src: url('assets/fonts/Montserrat-VariableFont_wght.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sacramento-Regular';
  src: url('assets/fonts/Sacramento-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-VariableFont';
  src: url('assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url('assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@layer base {
  * {
    font-family: "Montserrat-VariableFont_wght", serif;
    font-size: 16px;
    line-height: 1.75em;
    max-width: 1536px;
  }
  body { margin: 0;&::after { display: none; } }
  html, body {height: 100%;}
}

//@media screen and (max-width: 767px) {
//  body::after { content: "SPlus"; }
//}
//@media screen and (min-width: 768px) and (max-width: 1023px) {
//  body::after { content: "MPlus"; }
//}
//@media screen and (min-width: 1024px) {
//  body::after { content: "LPlus"; }
//}
